<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unicorn Furniture | The Best in Furniture</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- The page header containing the navigation bar -->
    <header>
      <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="#">Unicorn Furniture</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Locations</a>
            </li>
          </ul>
          <div>
            <button class="btn btn1" type="button">Login</button>
            <button class="btn btn2" type="button">Sign up</button>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <!-- landing image -->
      <section class="hero-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="message">
                <h1>
                  From the finest wood, we build the best furniture you love
                </h1>
              </div>
              <div>
                <button class="btn btn3">Build your own</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="dealer-form p-4">
                <h3>Find a dealer</h3>
                <hr />
                <form action="/">
                  <div class="form-group">
                    <label for="">Select your country</label>
                    <select name="country" id="country" class="form-control">
                      <option selected disabled></option>
                      <option value="Ghana">Ghana</option>
                      <option value="US">US</option>
                      <option value="Germany">Germany</option>
                      <option value="France">France</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Select your city</label>
                    <select name="city" id="city" class="form-control">
                      <option selected disabled></option>
                      <option value="Accra">Accra</option>
                      <option value="Detroit">Detroit</option>
                      <option value="Bronx">Bronx</option>
                      <option value="Berlin">Berlin</option>
                      <option value="Hamburg">Hamburg</option>
                      <option value="Paris">Paris</option>
                    </select>
                  </div>
                  <!-- <div class="form-group">
                    <label for="">Email</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                    />
                  </div> -->
                  <div class="form-group">
                    <button class="btn btn-secondary">Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- gallery -->
      <section class="container"></section>
      <!-- category -->
      <section class="container">
        <h4 class="text-center">Types of furniture</h4>
        <hr />
        <div class="row">
          <div class="col-md-6 category-item">
            <div>
              <img
                class="img-fluid rounded"
                src="assets/pexels-pixabay-164595.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>
          <div class="col-md-6 category-item">
            <div>
              <img
                class="img-fluid rounded"
                src="assets/pexels-pixabay-256541.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-md-6 category-item">
            <div>
              <img
                class="img-fluid rounded"
                src="assets/pexels-mark-mccammon-1080721.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>
          <div class="col-md-6 category-item">
            <div>
              <img
                class="img-fluid rounded"
                src="assets/pexels-jonathan-borba-3316918.jpg"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- services -->
      <section class="container">
        <h4 class="text-center">What we offer our clients</h4>
        <hr />
        <div class="row">
          <div class="col-md-3 d-flex flex-column align-self-center">
            <h4 class="service-icon rounded-circle">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </h4>
            <h6 class="text-center">Delivery</h6>
          </div>
          <div class="col-md-3 d-flex flex-column align-self-center">
            <h4 class="service-icon rounded-circle">
              <i class="fa fa-envira" aria-hidden="true"></i>
            </h4>
            <h6 class="text-center">Interior Design</h6>
          </div>
          <div class="col-md-3 d-flex flex-column align-self-center">
            <h4 class="service-icon rounded-circle">
              <i class="fa fa-table" aria-hidden="true"></i>
            </h4>
            <h6 class="text-center">Customer data</h6>
          </div>
          <div class="col-md-3 d-flex flex-column align-self-center">
            <h4 class="service-icon rounded-circle">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </h4>
            <h6 class="text-center">Home decor</h6>
          </div>
        </div>
      </section>
      <!-- staff -->
      <section class="container">
        <h4 class="text-center">Meet the team</h4>
        <hr />
        <div class="row">
          <div class="col-md-3 d-flex flex-column align-self-center">
            <div class="staff">
              <img
                class="img-fluid staff-img rounded-circle"
                src="assets/pexels-christina-morillo-1181695.jpg"
                alt=""
                srcset=""
              />
              <h5>Johnson Peterson</h5>
              <h6>CEO</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur, magnam?
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column align-self-center">
            <div class="staff">
              <img
                class="img-fluid staff-img rounded-circle"
                src="assets/pexels-emmy-e-2381069.jpg"
                alt=""
                srcset=""
              />
              <h5>Enoch Simpson</h5>
              <h6>Marketing Manager</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur, magnam?
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column align-self-center">
            <div class="staff">
              <img
                class="img-fluid staff-img rounded-circle"
                src="assets/pexels-andrea-piacquadio-3778680.jpg"
                alt=""
                srcset=""
              />
              <h5>Kofi Dadzie</h5>
              <h6>Accountant</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur, magnam?
              </p>
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column align-self-center">
            <div class="staff">
              <img
                class="img-fluid staff-img rounded-circle"
                src="assets/pexels-mentatdgt-937481.jpg"
                alt=""
                srcset=""
              />
              <h5>Emmanuel Richards</h5>
              <h6>CTO</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur, magnam?
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- customer reviews -->
      <section></section>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
